In [15]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# from zipcode import zipcodes

In [16]:
zipcode = [78610, 78613, 78617, 78641, 78652, 78653, 78660, 78664, 78681, 78701, 78702, 78703, 78704, 78705, 78712, 78717, 78719, 78721, 78722, 78723, 78724, 78725, 78726, 78727, 78728, 78729, 78730, 78731, 78732, 78733, 78734, 78735, 78736, 78737, 78738, 78739, 78741, 78742, 78744, 78745, 78746, 78747, 78748, 78749, 78750, 78751, 78752, 78753, 78754, 78756, 78757, 78758, 78759]

census_2011 = pd.read_csv("Raw Data/raw_census_data_2011.csv")

df = pd.DataFrame
df = census_2011.set_index("Zipcode")


new_census_2011 = []


for x in zipcode:
    a=df.loc[x]
    new_census_2011.append(a)
      
new_census_2011 = pd.DataFrame(new_census_2011)

new_census_2011 = new_census_2011[["Population", "Median Age", "Household Income", "Per Capita Income"]]
new_census_2011.index.name = "Zipcodes"
new_census_2011.head()

          Population  Median Age  Household Income  Per Capita Income
Zipcodes
78610        22052.0        35.9           82702.0            31356.0
78613        63901.0        33.9           81819.0            33101.0
78617        18572.0        28.8           44334.0            14975.0
78641        43655.0        32.2           67683.0            27738.0
78652         4256.0        39.1           79107.0            37908.0

In [17]:
        
census_2016 = pd.read_csv("Raw Data/raw_census_data_2016.csv")

df2 = pd.DataFrame
df2 = census_2016.set_index("Zipcode")


new_census_2016 = []


for x in zipcode:
    b=df2.loc[x]
    new_census_2016.append(b)
      
new_census_2016 = pd.DataFrame(new_census_2016)
new_census_2016 = new_census_2016[["Population", "Median Age", "Household Income", "Per Capita Income"]]
new_census_2016.index.name = "Zipcodes"
new_census_2016.head()

          Population  Median Age  Household Income  Per Capita Income
Zipcodes
78610        30452.0        34.7           75453.0            30388.0
78613        75279.0        34.6           91033.0            35957.0
78617        26126.0        30.0           47551.0            16737.0
78641        55933.0        34.8           83526.0            33138.0
78652         4919.0        40.1           78594.0            34131.0

In [18]:
# census= new_census_2011.reset_index().merge(new_census_2016, how="left").set_index('index')
census = pd.merge(new_census_2011, new_census_2016, on="Zipcodes", how = "outer", suffixes=("_2011","_2016"))
census.head()

# census = pd.DataFrame({'Income Increase/Decrease': (new)})

,Population_2011,Median Age_2011,Household Income_2011,Per Capita Income_2011,Population_2016,Median Age_2016,Household Income_2016,Per Capita Income_2016
Zipcodes,,,,,,,,
78610,22052.0,35.9,82702.0,31356.0,30452.0,34.7,75453.0,30388.0
78613,63901.0,33.9,81819.0,33101.0,75279.0,34.6,91033.0,35957.0
78617,18572.0,28.8,44334.0,14975.0,26126.0,30.0,47551.0,16737.0
78641,43655.0,32.2,67683.0,27738.0,55933.0,34.8,83526.0,33138.0
78652,4256.0,39.1,79107.0,37908.0,4919.0,40.1,78594.0,34131.0

In [19]:
census["PC Income Increase/Decrease"] = ""
census["PC % Income Increase/Decrease"] = ""
census["HH Income Increase/Decrease"] = ""
census["HH % Income Increase/Decrease"] = ""
census.head()

,Population_2011,Median Age_2011,Household Income_2011,Per Capita Income_2011,Population_2016,Median Age_2016,Household Income_2016,Per Capita Income_2016,PC Income Increase/Decrease,PC % Income Increase/Decrease,HH Income Increase/Decrease,HH % Income Increase/Decrease
Zipcodes,,,,,,,,,,,,
78610,22052.0,35.9,82702.0,31356.0,30452.0,34.7,75453.0,30388.0,,,,
78613,63901.0,33.9,81819.0,33101.0,75279.0,34.6,91033.0,35957.0,,,,
78617,18572.0,28.8,44334.0,14975.0,26126.0,30.0,47551.0,16737.0,,,,
78641,43655.0,32.2,67683.0,27738.0,55933.0,34.8,83526.0,33138.0,,,,
78652,4256.0,39.1,79107.0,37908.0,4919.0,40.1,78594.0,34131.0,,,,

In [20]:
census["PC Income Increase/Decrease"] = census["Per Capita Income_2016"] - census["Per Capita Income_2011"]
census["PC % Income Increase/Decrease"] = census["PC Income Increase/Decrease"] / census["Per Capita Income_2011"] * 100
census["HH Income Increase/Decrease"] = census["Household Income_2016"] - census["Household Income_2011"]
census["HH % Income Increase/Decrease"] = census["HH Income Increase/Decrease"] / census["Household Income_2011"] * 100
census.head()

,Population_2011,Median Age_2011,Household Income_2011,Per Capita Income_2011,Population_2016,Median Age_2016,Household Income_2016,Per Capita Income_2016,PC Income Increase/Decrease,PC % Income Increase/Decrease,HH Income Increase/Decrease,HH % Income Increase/Decrease
Zipcodes,,,,,,,,,,,,
78610,22052.0,35.9,82702.0,31356.0,30452.0,34.7,75453.0,30388.0,-968.0,-3.087128,-7249.0,-8.765205
78613,63901.0,33.9,81819.0,33101.0,75279.0,34.6,91033.0,35957.0,2856.0,8.628138,9214.0,11.261443
78617,18572.0,28.8,44334.0,14975.0,26126.0,30.0,47551.0,16737.0,1762.0,11.766277,3217.0,7.256282
78641,43655.0,32.2,67683.0,27738.0,55933.0,34.8,83526.0,33138.0,5400.0,19.467878,15843.0,23.407650
78652,4256.0,39.1,79107.0,37908.0,4919.0,40.1,78594.0,34131.0,-3777.0,-9.963596,-513.0,-0.648489

In [ ]:
#export dataframe to pickle